In [2]:
family=['mother','father','brother','sister','daughter','son','uncle','aunt']
print(family)

['mother', 'father', 'brother', 'sister', 'daughter', 'son', 'uncle', 'aunt']

In [3]:
len(family)

8

In [9]:
for i in family:
    print(f"\n{i}, is the part of the family.")
print("\nAll make a joint family.")

mother, is the part of the family.

father, is the part of the family.

brother, is the part of the family.

sister, is the part of the family.

daughter, is the part of the family.

son, is the part of the family.

uncle, is the part of the family.

aunt, is the part of the family.

All make a joint family.

In [10]:
string="NOida Electronic City"
for i in string:
    print(i)

N
O
i
d
a

E
l
e
c
t
r
o
n
i
c

C
i
t
y

In [11]:
surname='kumar'
for b in surname:
    print('vivek',b)

vivek k
vivek u
vivek m
vivek a
vivek r

In [20]:
list1=[23,42,56,33,'vivek']
for j in list1:
    print(j)

23
42
56
33
vivek

In [16]:
for k in range(0,8):
    print(k)

0
1
2
3
4
5
6
7

In [17]:
num=list(range(0,8))
print(num)
print(type(num))

[0, 1, 2, 3, 4, 5, 6, 7]
<class 'list'>

In [19]:
ev_no=list(range(2,20,2))
print(ev_no)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [22]:
odd=list(range(3,20,2))
print(odd)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [31]:
print('minimum even=',min(ev_no))
print('maximum even=',max(ev_no))
print('sum even=',sum(ev_no))
print('minimum odd=',min(odd))
print('maximum odd=',max(odd))
print('sum odd=',sum(odd))
print('length even=',len(ev_no))
print('length odd=',len(odd))

minimum even= 2
maximum even= 18
sum even= 90
minimum odd= 3
maximum odd= 19
sum odd= 99
length even= 9
length odd= 9

In [32]:
list3=[(3,2),(4,5),(7,9),(11,16)]  # printing list element and each element inside 
for i in list3:
    print(i)
    for j in i:
        print(j)

(3, 2)
3
2
(4, 5)
4
5
(7, 9)
7
9
(11, 16)
11
16

In [33]:
list3=[(3,2),(4,5),(7,9),(11,16)]        # printing each element in list
for i in list3:
    
    for j in i:
        print(j)

3
2
4
5
7
9
11
16

In [37]:
friends=['pranjal','priyam','vishal']      # iterarting through loop
for name in friends:
    print('Happy Holi ',name.title())
print('Done!')

Happy Holi  Pranjal
Happy Holi  Priyam
Happy Holi  Vishal
Done!

In [39]:
count=1
for c in range(22,78):
    print(c,count)
    count+=1

22 1
23 2
24 3
25 4
26 5
27 6
28 7
29 8
30 9
31 10
32 11
33 12
34 13
35 14
36 15
37 16
38 17
39 18
40 19
41 20
42 21
43 22
44 23
45 24
46 25
47 26
48 27
49 28
50 29
51 30
52 31
53 32
54 33
55 34
56 35
57 36
58 37
59 38
60 39
61 40
62 41
63 42
64 43
65 44
66 45
67 46
68 47
69 48
70 49
71 50
72 51
73 52
74 53
75 54
76 55
77 56

In [40]:
count=0                            # counting and printing character
string="NOida Electronic City"
for i in string:
    print(i,count)
    count+=1

N 0
O 1
i 2
d 3
a 4
  5
E 6
l 7
e 8
c 9
t 10
r 11
o 12
n 13
i 14
c 15
  16
C 17
i 18
t 19
y 20

In [43]:
total=0                         # sum using for loop
for c in range(22,30):
    total+=c
    print(total)

22
45
69
94
120
147
175
204

In [44]:
sum(list(range(22,30)))     # sum using built-in function

204

In [47]:
list4=[2,3,4,5,6,7,8,9,0]
print(list4[0:4])
print(list4[:])
print(list4[::2])        # stepping 2 indexes

[2, 3, 4, 5]
[2, 3, 4, 5, 6, 7, 8, 9, 0]
[2, 4, 6, 8, 0]