In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [13]:
import antigravity

In [14]:
tup=(0,3,333,4,2,2,4,66,3,11,4,5,33)
print(tup)

(0, 3, 333, 4, 2, 2, 4, 66, 3, 11, 4, 5, 33)

In [15]:
type(tup)

tuple

In [16]:
tup.count(4)

3

In [17]:
tup[3]=6

TypeError: 'tuple' object does not support item assignment

In [18]:
tup.index(66)

7

In [19]:
for i in tup:
    print(i)

0
3
333
4
2
2
4
66
3
11
4
5
33

In [22]:
tupl=(1,)
print(tupl)
print(type(tupl))

(1,)
<class 'tuple'>

In [24]:
tupl=(1)
type(tupl)

int

In [25]:
t=tuple()
print(t)

()

In [27]:
t=tuple('vivek')
print(t)

('v', 'i', 'v', 'e', 'k')

In [28]:
print(t[2])

v

In [30]:
print(t[1:4])
print(t[:5])

('i', 'v', 'e')
('v', 'i', 'v', 'e', 'k')

In [31]:
t1=(1,)+t[1:5]
print(t1)

(1, 'i', 'v', 'e', 'k')

In [32]:
(0,2,4)<(0,5,7)

True

In [37]:
(0,2,4)<(0,-5,7)

False

In [35]:
(0,2,4000000000)<(0,5,7)

True

In [41]:
rollno=[234,456]
m,n=rollno
print(f"The roll no of m is: {m} and The roll no of n is: {n}")

The roll no of m is: 234 and The roll no of n is: 456

In [43]:
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
(a,b)=b,a
print(f"\nThe swapped value are :a = {a} and b = {b}")

Enter the value of a: 15
Enter the value of b: 25

The swapped value are :a = 25 and b = 15

In [45]:
address="vivek.bluebird@gmail.com"
(user_name,domain)=address.split('@')
print(f"\n The user name is----> {user_name} and the domain is---> {domain}")

 The user name is----> vivek.bluebird and the domain is---> gmail.com

In [46]:
dict1={'weight in kg':[1,2,5,10],'S.P':500.50,'Buying place':'Banglore','dish':{'jam':['jelly type','hard type']}}
print(dict1)

{'weight in kg': [1, 2, 5, 10], 'S.P': 500.5, 'Buying place': 'Banglore', 'dish': {'jam': ['jelly type', 'hard type']}}

In [47]:
print(dict1['Buying place'])

Banglore

In [48]:
dict1['dish']['jam']

['jelly type', 'hard type']

In [49]:
dict1['dish']['jam'][0]

'jelly type'

In [50]:
dict1['dish']['jam'][1]

'hard type'

In [51]:
dict1['Buying place']='Mysore'
print(dict1)

{'weight in kg': [1, 2, 5, 10], 'S.P': 500.5, 'Buying place': 'Mysore', 'dish': {'jam': ['jelly type', 'hard type']}}

In [52]:
dict1.values()

dict_values([[1, 2, 5, 10], 500.5, 'Mysore', {'jam': ['jelly type', 'hard type']}])