In [6]:
name='   jenifer' 
name1='vivek   '
name2='   swati and pragya   '
print(name.lstrip().title())
print(name1.rstrip().title())
print(name2.strip().title())

Jenifer
Vivek
Swati And Pragya

In [8]:
print('Python libraries:\n\t\tPanda\n\t\tMatplotlib\n\t\tBeautiful soup\n\t\tNumpy\n\t\tStatsmodel')

Python libraries:
		Panda
		Matplotlib
		Beautiful soup
		Numpy
		Statsmodel

In [10]:
num=3.1456987562148556932547
print('the value of num is {v:0.5f}'.format(v=num))

the value of num is 3.14570

In [11]:
str1=input("Enter your name please:\n")
print(f'hi,how are you {str1}?')

Enter your name please:
vivek
hi,how are you vivek?

In [15]:
print("5")
print('5')
print('ram')
print(type(5))   # sir, why class is written here?
type(654.56)

5
5
ram
<class 'int'>

float

In [14]:
type(5)

int

In [16]:
name='Mukesh KumAr'
name[-2]

'A'

In [17]:
name[1:9:2]

'uehK'

In [18]:
name[::2]

'Mks uA'

In [19]:
new_var='Hi'+' Mukesh'
print(new_var)

Hi Mukesh

In [20]:
'55'*3

'555555'

In [21]:
55**3

166375

In [22]:
x=name.isupper()
y=name.islower()
print(x,y)

False False

In [23]:
capital_name=name.upper()
print(capital_name)

MUKESH KUMAR

In [25]:
var='Hi i am Mukesh Kumar ! learning Python'.split()
print(var)

['Hi', 'i', 'am', 'Mukesh', 'Kumar', '!', 'learning', 'Python']